

  <% if signed_in? %>
      <div class="row">
        <aside class="span4">
          <section>
            <%= render 'shared/user_info' %>
          </section>
          <section>
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="span8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
  <% else %>
      <div class="center hero-unit">
  <h1>Bienvenidos</h1>

  <h2>
    Esta es la pagina de inicio de la aplicacion <%= link_to 'Equipo BOB', about_path %>
  </h2>

  <%= link_to "Registrate!", signup_path , class: "btn btn-large btn-primary" %>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
          </div>
<% end %>